[client]
default-character-set=utf8

[mysql]
default-character-set=utf8


[mysqld]
user=root
character-set-server=utf8
default_authentication_plugin=mysql_native_password
sql_mode=ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
lower_case_table_names=1 #忽略表名大小写
explicit_defaults_for_timestamp=true #开启查询缓存
#skip-grant-tables #数据库每次重启之后不要密码就可以连接数据库，适用于管理员忘记密码时的操作


max_allowed_packet = 6M
group_concat_max_len=102400
default-time-zone='+08:00' #设置mysql时区


#查询不启用缓存
query_cache_type=0
query_cache_size=0
max_connections=1000

#general_log = on #是否纪录SQL情况 on为开启 off为关闭