<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表渲染</title>

    <!-- 引入vue -->
    <script type="text/javascript" src="../js/vue.js"></script>

</head>

<body>

    <!--
        v-for指令:
            1.用于展示列表数据
            2.语法: v-for="(item， index) in xxx” :key="yyy"
            3.可遍历: 数组、对象、字符串 (用的很少) 、指定次数 (用的很少)

    -->

    <!-- 准备好一个容器 -->
    <div id="root">
        <ul>
            <!-- 遍历数组 -->
            <h2>遍历数组</h2>
            <li v-for="(item,index) in persons" :key="item.id">
                <span>{{item.id}}-{{item.name}}</span>
            </li>
        </ul>

        <!-- 遍历对象 -->
        <h2>遍历对象</h2>
        <ul>
            <li v-for="(value,k) of car" :key="k">
                <span>{{k}}-{{value}}</span>
            </li>
        </ul>

        <!-- 遍历字符串 -->
        <h2>遍历字符串（用得少）</h2>
        <ul>
            <li v-for="(char,index) of str" :key="index">
                <span>{{index}}-{{char}}</span>
            </li>
        </ul>

        <!-- 遍历指定次数 -->
        <h2>遍历指定次数（用得少）</h2>
        <ul>
            <li v-for="(number,index) of 5" :key="index">
                <span>{{index}}-{{number}}</span>
            </li>
        </ul>

    </div>


    <script type="text/javascript">
        Vue.config.productionTip = false;//阻止 vue 在启动时生成生产提示。

        const vm = new Vue({
            el: '#root',
            data: {
                persons: [
                    { id: '001', name: '张三', age: 18 },
                    { id: '002', name: '李四', age: 19 },
                    { id: '003', name: '王五', age: 20 },
                    { id: '004', name: '赵六', age: 21 },
                ],
                car: {
                    name: "五菱",
                    price: 33000
                },
                str: "hello"
            }

        });

    </script>


</body>

</html>