<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表过滤</title>

    <!-- 引入vue -->
    <script type="text/javascript" src="../js/vue.js"></script>

</head>

<body>

    <!--


    -->

    <!-- 准备好一个容器 -->
    <div id="root">
        <ul>
            <!-- 遍历数组 -->
            <h2>人员列表</h2>
            <input type="text" placeholder="请输入名字" v-model="keyWord">
            <li v-for="(item,index) in filterPersons" :key="item.id">
                <span>{{item.id}}-{{item.name}}</span>
            </li>
        </ul>



    </div>


    <script type="text/javascript">
        Vue.config.productionTip = false;//阻止 vue 在启动时生成生产提示。

        //用watch实现
        // #region
        // const vm = new Vue({
        //     el: '#root',
        //     data: {
        //         keyWord: '',
        //         persons: [
        //             { id: '001', name: '马冬梅', age: 18 },
        //             { id: '002', name: '周冬雨', age: 19 },
        //             { id: '003', name: '周杰伦', age: 20 },
        //             { id: '004', name: '湿兆伦', age: 21 },
        //         ],
        //         filterPersons: []
        //     },
        //     watch: {
        //         keyWord: {
        //             immediate: true,//初始化时让handler调用一次
        //             handler(newVal, oldVal) {
        //                 this.filterPersons = this.persons.filter(t => t.name.indexOf(newVal) !== -1);
        //             }
        //         }
        //     }
        // #endregion

        //用computed实现
        const vm = new Vue({
            el: '#root',
            data: {
                keyWord: '',
                persons: [
                    { id: '001', name: '马冬梅', age: 18 },
                    { id: '002', name: '周冬雨', age: 19 },
                    { id: '003', name: '周杰伦', age: 20 },
                    { id: '004', name: '湿兆伦', age: 21 },
                ]
                //filterPersons: []
            },
            computed: {
                filterPersons() {
                    return this.persons.filter(t => t.name.indexOf(this.keyWord) !== -1);
                }
            }


        });

    </script>


</body>

</html>