<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.set的使用</title>

    <!-- 引入vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/tool.js"></script>

</head>

<body>

    <!--


    -->

    <!-- 准备好一个容器 -->
    <div id="root">
        <h2>姓:{{fistName}}</h2>
        <h2>名:{{lastName}}</h2>
        <h2 v-if="otherProp.sex">性别:{{otherProp.sex}}</h2>
        <button @click="addSex">添加一个性别属性，默认是男</button>
        <hr />
        <h2>笔记本材质:{{note.materialQuality}}</h2>
        <h2>笔记本大小:{{note.size}}</h2>
        <h2>朋友们</h2>
        <ul>
            <li v-for="item in friends" :key="item.id">
                {{item.fistName}}{{item.lastName}}--年龄:{{item.age}}
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false;//阻止 vue 在启动时生成生产提示。

        const vm = new Vue({
            el: '#root',
            data: {
                fistName: "张", lastName: "三", fullName: "张-三",
                otherProp: { age: 10 },
                note: {
                    materialQuality: "纸",
                    size: "A5"
                },
                friends: [
                    { id: 1, fistName: "李", lastName: "四", age: 17 },
                    { id: 2, fistName: "王", lastName: "五", age: 18 }
                ]
            },
            methods: {
                addSex() {
                    //在定义后添加响应式属性，注意，不能直接向_data添加
                    //Vue.set(vm._data.otherProp, "sex", "男");

                    //等价
                    //vm.$set(vm._data.otherProp, "sex", "男");

                    //等价
                    //vm._data.otherProp === vm.otherProp ;//true
                    Vue.set(this.otherProp, "sex", "男");
                }
            },

        });




    </script>


</body>

</html>