<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例</title>

    <!-- 引入vue -->
    <script type="text/javascript" src="../js/vue.js"></script>

</head>

<body>

    <!--

    -->

    <!-- 准备好一个容器 -->
    <div id="root">
        姓：<input type="text" v-model="fistName"><br /><br />
        名：<input type="text" v-model="lastName"><br /><br />
        全名：<span>{{fullName()}}</span>
    </div>


    <script type="text/javascript">
        Vue.config.productionTip = false;//阻止 vue 在启动时生成生产提示。

        const vm = new Vue({
            el: '#root',
            data: {
                fistName: "张",
                lastName: "三",
            },
            methods: {
                fullName(e) {
                    return this.fistName + "-" + this.lastName;
                }
            },


        });

    </script>


</body>

</html>