<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>条件渲染</title>

    <!-- 引入vue -->
    <script type="text/javascript" src="../js/vue.js"></script>

</head>

<body>

    <!--
    条件渲染:
        1.V-if
            写法:
            (1).v-if="表达式"
            (2).V-else-if="表达式"
            (3).v-else="表达式"适用于:切换频率较低的场景。
            特点:不展示的DOM元素直接被移除。
            注意: v-if可以和:v-else-if、v-else一起使用，但要求结构不能被“打断”
        2.V-show
            写法: v-show="表达式"适用于:切换频率较高的场景。
            特点:不展示的DOM元素未被移除，仅仅是使用样式隐藏掉
        3.备注:使用v-if的时，元素可能无法获取到，而使用v-show一定可以获取到。
    -->

    <!-- 准备好一个容器 -->
    <div id="root">
<h2>当前的n值是:{{n}}</h2>
<button @click="n++">点我+1</button>

        <!-- 使用v-show做条件渲染 -->
        <h2 v-show="true">欢迎来到成都1</h2>
        <h2 v-show="1===1">欢迎来到成都1</h2>

        <!-- 使用v-if做条件渲染 -->
        <h2 v-if="true">欢迎来到成都2</h2>
        <h2 v-if="1===1">欢迎来到成都2</h2>


        <!-- v-else和v-else-if -->
        <div v-if="n==1">AAAAAA</div>
        <div v-else-if="n==2">BBBBB</div>
        <div v-else>CCCCC</div>


<template v-if="n==1">
    <h2>A</h2>
    <h2>B</h2>
</template>



    </div>


    <script type="text/javascript">
        Vue.config.productionTip = false;//阻止 vue 在启动时生成生产提示。

        const vm = new Vue({
            el: '#root',
            data: {
                n: 0
            }

        });

    </script>


</body>

</html>